# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Model files (optional - if large)
# models/

# Results images (optional)
# results/